* {
  color: #1ec5e1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Cormorant Garamond", serif;
}

html {
  font-size: 62.5%;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.menu {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-link {
  font-size: 1.5rem;
  width: 15rem;
  margin: 0 3rem;
  text-transform: uppercase;
  border: 0.1rem solid #fff;
  text-align: center;
  padding: 0.2rem 0;
  letter-spacing: 0.1rem;
  position: relative;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 5rem;
  background-color: #d50000;
  left: -20%;
  transform: rotate(-40deg) translateX(-4rem);
  transform-origin: left bottom;
  opacity: 0.8;
  transition: left 0.3s;
}

.nav-link:hover::before {
  left: 110%;
}

.logo {
  height: 6rem;
}

.page-btn {
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.left-btn {
  right: 4rem;
}

.left-btn img {
  transform: rotate(0deg);
}

.right-btn {
  left: 4rem;
}

.right-btn img {
  transform: rotate(180deg);
}

.page-btn img:hover {
  opacity: 1;
}

.page-btn img {
  width: 4rem;
  opacity: 0.4;
  cursor: pointer;
}

.progress-wrapper {
  position: fixed;
  z-index: 100;
  bottom: 2rem;
  left: 3rem;
}

.progress {
  margin: 1rem 0;
  text-align: center;
}

.progress h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
}

.circle-wrapper {
  display: flex;
}

.circle {
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid white;
  border-radius: 50%;
  margin: 0 0.3rem;
}

.circle-1 {
  background-color: #ddd;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  transition: left 1.3s;
}

.section-1 {
  z-index: 50;
}

.section-wrapper {
  width: inherit;
  height: inherit;
}

.section-1-wrapper {
  /*
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(images/background.png) center no-repeat;
  background-size: cover;
  */
  background: black;
  height: 100%;
}

.section-1-header-wrapper {
  position: absolute;
  top: 41%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.section-1-heading {
  font-size: 6rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-bottom: 0.2rem solid #1ec5e1;
  text-align: left;
  user-select: none;
}

.section-1-paragraph {
  letter-spacing: 0.1rem;
  width: 53rem;
  position: relative;
  top: 2rem;
  font-size: 1.9rem;
}

.section-1-paragraph2 {
  letter-spacing: 0.1rem;
  width: 30rem;
  position: relative;
  right: 0px;
  font-size: 0.9rem;
  color: white;
  visibility: hidden;
  top: 6rem;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.section-1-quicklinks {
  position: relative;
  top: 10rem;
  letter-spacing: 0.1rem;
  width: 53rem;
}

.section-1-heading2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.section-1-list {
  font-size: 1.3rem;
  position: relative;
  left: 1.5rem;
}

.section-2 {
  z-index: 40;
}

.section-2-wrapper {
  /*
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(images/background.png) center no-repeat;
  background-size: cover;
  */
  background: black;
  height: 100%;
}

.section-2-header-wrapper {
  position: absolute;
  top: 28%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.section-2-paragraph {
  letter-spacing: 0.1rem;
  width: 53rem;
  position: relative;
  top: 1.2rem;
  font-size: 1.9rem;
}

.section-2-heading {
  font-size: 5rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-bottom: 0.2rem solid #1ec5e1;
  text-align: left;
  user-select: none;
}

.skills {
  position: fixed;
  top: 67%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.python {
  opacity: 0.9;
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 6%;
}

.html-tag {
  opacity: 0.9;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 17%;
}

.django {
  opacity: 0.9;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30.3%;
}

.javascript {
  opacity: 0.9;
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 44%;
}

.java {
  opacity: 0.9;
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 57%;
}

.sql {
  opacity: 0.9;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 69%;
  top: -3rem;
}

.spring {
  opacity: 0.9;
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 83%;
}

.section-3 {
  z-index: 30;
}

.section-3-wrapper {
  /*
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(images/background.png) center no-repeat;
  background-size: cover;
  */
  background: black;
  height: 100%;
}


.project1 {
  position: absolute;
  left: 34%;
  top: 21%;
}

.project1img {
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

.project1desc {
  position: relative;
  left: 1rem;
}
.project1-heading {
  width: 52%;
  font-size: 1.8rem;
}

.project1para {
  width: 53%;
  padding-top: 0.75rem;
  font-size: 1.9rem;
}

.project2 {
  position: absolute;
  left: 34%;
  top: 50%;
}

.project2img {
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

.project2desc {
  position: relative;
  left: 1rem;
}
.project2-heading {
  width: 34%;
}
.project2para {
  width: 55%;
  padding-top: 0.75rem;
  font-size: 1.9rem;
}


.section-4 {
  z-index: 20;
}

.section-4-wrapper {
  /*
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(images/background.png) center no-repeat;
  background-size: cover;
  */
  background: black;
  height: 100%;
}

.section-4-header-wrapper {
  position: absolute;
  top: 25%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.section-4-heading {
  font-size: 6rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-bottom: 0.2rem solid #1ec5e1;
  text-align: left;
  user-select: none;
}

.section-4-paragraph {
  letter-spacing: 0.1rem;
  width: 53rem;
  position: relative;
  top: 2rem;
  font-size: 1.9rem;
}

.links {
  position: fixed;
  top: 58%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.github {
  position: absolute;
  left: 17%;
  width: 13rem;
}

.linkedin {
  position: absolute;
  left: 44%;
  width: 13rem;
}

.gmail {
  position: absolute;
  left: 70%;
  width: 18.2rem;
  top: -2.5rem;
}

@media (max-width: 1600px) {
}

@media (max-width: 1300px) {
  .nav-link {
    margin: 0 1.5rem;
  }
}

@media (max-width: 1150px) {
  .nav-bar {
    position: absolute;
    justify-content: start;
    padding-left: 2rem;
  }

  .logo-link {
    display: none;
  }

  .nav-list {
    position: absolute;
    top: 5rem;
    right: -21rem;
    flex-direction: column;
    height: calc(100vh - 5rem);
    background-color: #333;
    justify-content: start;
    padding: 2rem;
    border-radius: 0.5rem 0 0 0;
    transition: right 0.5s;
  }

  .change .nav-list {
    right: 0;
  }

  .nav-link {
    margin: 1rem;
  }

  .menu {
    display: block;
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-line {
    width: 100%;
    height: 0.3rem;
    background-color: #d50000;
    transition: transform 0.5s;
  }

  .change .menu-line-1 {
    transform: rotate(40deg) translate(0.5rem, 1rem);
  }

  .change .menu-line-2 {
    transform: translate(-0.2rem, 2rem);
  }

  .change .menu-line-3 {
    transform: rotate(-40deg) translate(0.5rem, -1rem);
  }

  .section-1-header-wrapper {
    top: 37%;
    left: 41%;
  }

  .section-2-header-wrapper {
    top: 22%;
    left: 37%;
  }

  .python {
    left: 11%;
    top: -11rem;
  }

  .html-tag {
    left: 31%;
    top: -11rem;
  }

  .django {
    left: 54%;
    top: -11rem;
  }

  .javascript {
    left: 75%;
    top: -12rem;
  }

  .java {
    left: 21%;
    top: 0rem;
  }

  .sql {
    left: 44%;
    top: 8rem;
  }

  .spring {
    left: 65%;
    top: 4rem;
  }

  .section-4-header-wrapper {
    top: 25%;
    left: 35%;
  }
}

@media (max-width: 870px) {
  .section-1-header-wrapper {
    top: 37%;
    left: 44%;
  }
  .section-1-paragraph2 {
    visibility: hidden;
  }
  .section-1-heading {
    font-size: 4.8rem;
  }
  .section-1-paragraph {
    font-size: 01.5rem;
    width: 48rem;
  }

  .section-2-header-wrapper {
    top: 22%;
    left: 48%;
  }

  .section-2-heading {
    text-align: center;
  }

  .section-2-paragraph {
    text-align: center;
  }

  .python {
    left: 10%;
    top: -16rem;
  }

  .html-tag {
    left: 30%;
    top: -16rem;
  }

  .django {
    left: 50%;
    top: -16rem;
  }

  .javascript {
    left: 71%;
    top: -16rem;
  }

  .java {
    left: 18%;
    top: -3rem;
  }

  .sql {
    left: 40%;
    top: 3rem;
  }

  .spring {
    left: 63%;
    top: 0rem;
  }


  .project1 {
    top: 20%;
    left: 32.3%;
  }

  .project1img {
    width: 11rem;
  }

  .project1desc {
    left: 2rem;
  }

  .project1para {
    width: 74%;
    padding-left: 11rem;
  }

  .project2 {
    top: 46%;
    left: 32.2%;
  }

  .project2img {
    width: 12rem;
  }

  .project2desc {
    left: 1.1rem;
    top: 1rem;
  }

  .project2para {
    width: 74%;
    padding-left: 12rem;
  }


  .section-4-header-wrapper {
    top: 19%;
    left: 43%;
  }

  .github {
    left: 13%;
    width: 12rem;
  }

  .linkedin {
    left: 40%;
    width: 12rem;
  }

  .gmail {
    left: 66%;
    width: 17rem;
    top: -2.4rem;
  }
}

@media (max-width: 730px) {
  .section-1-header-wrapper {
    top: 48%;
    left: 46%;
  }

  .section-1-heading {
    font-size: 3.8rem;
  }

  .section-1-paragraph {
    width: 36rem;
  }

  .section-2-header-wrapper {
    top: 21%;
  }

  .section-2-heading {
    font-size: 4rem;
  }

  .section-2-paragraph {
    width: 34rem;
    font-size: 01.5rem;
  }

  .python {
    width: 10rem;
    left: 16%;
  }

  .html-tag {
    left: 32%;
    width: 10rem;
  }

  .django {
    width: 10rem;
  }

  .javascript {
    left: 69%;
    width: 9rem;
  }

  .java {
    left: 19%;
    top: -5rem;
    width: 10rem;
  }

  .sql {
    left: 39%;
    top: 1rem;
    width: 10rem;
  }

  .spring {
    left: 59%;
    top: -2rem;
    width: 9rem;
  }

  .project1 {
    left: 7.3rem;
  }

  .project1img {
    width: 10rem;
  }

  .project1-heading {
    font-size: 1.8rem;
  }

  .project1para {
    font-size: 1.7rem;
    padding-left: 10.1rem;
  }

  .project2 {
    left: 10.3%;
  }

  .project2img {
    width: 10rem;
  }

  .project2-heading {
    width: 40%;
    font-size: 1.7rem;
  }

  .project2para {
    padding-left: 10.1rem;
    font-size: 1.7rem;
  }


  .section-4-heading {
    font-size: 4rem;
  }

  .section-4-paragraph {
    width: 35rem;
    font-size: 1rem;
  }

  .links {
    top: 42%;
  }

  .github {
    left: 16%;
    width: 9rem;
  }

  .linkedin {
    left: 42%;
    width: 9rem;
  }

  .gmail {
    left: 65%;
    width: 12.7rem;
    top: -1.8rem;
  }
}

@media (max-width: 580px) {
  .right-btn {
    left: 1rem;
  }

  .left-btn {
    right: 1rem;
  }

  .section-1-header-wrapper {
    left: 55%;
  }

  .section-1-heading {
    width: 26rem;
  }

  .section-1-paragraph {
    width: 26rem;
  }

  .section-2-paragraph {
    width: 23rem;
    font-size: 1.6rem;
  }

  .python {
    width: 7rem;
    left: 12%;
  }

  .html-tag {
    left: 31%;
    width: 7rem;
  }

  .django {
    width: 7rem;
  }

  .javascript {
    left: 70%;
    width: 7rem;
  }

  .java {
    top: -6rem;
    width: 7rem;
  }

  .sql {
    top: -3rem;
    width: 8rem;
  }

  .spring {
    top: -4rem;
    width: 7rem;
  }

  .project1 {
    left: 6.1rem;
  }

  .project1img {
    width: 8rem;
  }

  .project1desc {
    left: 1rem;
  }

  .project1-heading {
    font-size: 1.3rem;
  }

  .project1para {
    font-size: 01.5rem;
    padding-left: 8rem;
    width: 75%;
  }

  .project2 {
    left: 11.9%;
  }

  .project2img {
    width: 8rem;
  }

  .project2desc {
    top: 1rem;
    left: 1rem;
  }

  .project2para {
    padding-left: 8rem;
    font-size: 01.5rem;
    width: 75%;
  }


  .section-4-paragraph {
    width: 22rem;
    font-size: 1.3rem;
  }

  .github {
    left: 12%;
    width: 7rem;
  }

  .linkedin {
    left: 36%;
    width: 7rem;
  }

  .gmail {
    left: 63%;
    width: 10rem;
    top: -1.5rem;
  }
}

@media (max-width: 390px) {
  .section-1-header-wrapper {
    left: 62%;
  }

  .section-1-heading {
    width: 22rem;
    font-size: 3.1rem;
    font-weight: 500;
  }

  .section-1-paragraph {
    width: 19rem;
    font-size: 1.4rem;
  }


  .section-2-heading {
    font-size: 3.5rem;
    width: 16rem;
  }

  .section-2-paragraph {
    width: 18rem;
    font-size: 1.4rem;
  }

  .python {
    width: 6rem;
    left: 16%;
  }

  .html-tag {
    left: 40%;
    width: 6rem;
  }

  .django {
    width: 6rem;
    left: 24.7rem;
  }

  .javascript {
    left: 40%;
    width: 6rem;
    top: -9rem;
  }

  .java {
    left: 16%;
    top: -2rem;
    width: 6rem;
  }

  .sql {
    top: 0.3rem;
    width: 7rem;
  }

  .spring {
    top: -1rem;
    width: 6rem;
    left: 65%;
  }

  .project1 {
    left: 4.7rem;
  }

  .project2 {
    top: 46%;
  }
}

@media (max-height: 500px) and (max-width: 700px) {
  .skills {
    top: 75%;
  }

  .python {
    left: 12%;
    width: 9rem;
  }

  .html-tag {
    left: 32%;
    width: 9rem;
  }

  .django {
    left: 52%;
    width: 9rem;
  }

  .javascript {
    left: 77%;
    width: 9rem;
  }

  .java {
    left: 22%;
    width: 9rem;
  }

  .sql {
    left: 42%;
    width: 9rem;
  }

  .spring {
    left: 64%;
    width: 9rem;
  }
}
